<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body class="bg-gray-100">
    <!-- Navbar -->
    <%- include('./partials/navbar.ejs') %>

    <!-- Cards Section -->
    <section
      class="container mx-auto flex flex-col gap-10 w-[40%] items-center mb-20 mt-12"
    >
      <!-- Standard Opening Message -->
      <% if (!user || user.membershipStatus !== 'member') {%>
      <div
        class="bg-white w-full flex items-center gap-6 px-8 py-6 rounded-lg shadow-xl"
      >
        <!-- Message Image -->
        <img
          src="/images/clio-5-nobg.png"
          alt="Opening Message"
          class="w-[20%] rounded-full"
        />
        <!-- Message Info -->
        <div class="flex flex-col gap-5 w-[80%]">
          <h1 class="text-lg font-bold">Hello World !</h1>
          <p
            class="text-base text-primaryColor border-b-[1px] border-gray-300 pb-4 text-justify font-medium"
          >
            Welcome to the Cars Hatchback Club ! If you want to see more
            information about the messages posted by the members of our Club,
            you need to become a member too. In order to do so, log in and use
            the passcode "hatchback" in the members tab.
          </p>
          <div class="flex text-sm justify-between items-center justify-center">
            <p>
              Posted by <span class="text-sm font-bold">Hamza Eshoul </span>
            </p>
            <p>14-07-1998</p>
          </div>
        </div>
      </div>
      <% }%> <% if(messages.length > 0) {%> <% messages.forEach((message) => {%>
      <div
        class="bg-white w-full flex items-center gap-6 px-8 py-6 rounded-lg shadow-xl cardHover "
      >
        <!-- Message Image -->
        <img
          src="<%= message.messageImg %>"
          alt="Message Image"
          class="w-[20%] rounded-full"
        />
        <!-- Message Info -->
        <div class="flex flex-col gap-5 w-[80%]">
          <h1 class="text-lg font-bold"><%= message.messageTitle%></h1>
          <p
            class="text-base text-primaryColor border-b-[1px] border-gray-300 pb-4 text-justify font-medium"
          >
            <%= message.messageContent %>
          </p>
          <div class="flex text-sm justify-between items-center">
            <% if (user) { %> <% if (user.membershipStatus == 'member') { %>
            <p>
              Posted by
              <span class="text-sm font-bold">
                <%= message.messageAuthor %>
              </span>
            </p>

            <p><%= message.formattedDate %></p>

            <% } else { %>
            <p>
              Posted by
              <span class="text-sm font-bold"> Anonymous Authtor </span>
            </p>
            <p>Unknown Date</p>
            <% } %> <% } else {%>
            <p>
              Posted by
              <span class="text-sm font-bold"> Anonymous Authtor </span>
            </p>
            <p>Unknown Date</p>

            <% } %>
          </div>

          <% if(user && user.isAdmin && user.isAdmin == true) {%>
          <div class="flex justify-end">
            <button
              class="px-1.5 py-2 rounded bg-black hover:bg-primaryColor text-white w-32 text-[15px] transition duration-300 flex-end deleteMsg"
              data-msgid="<%= message._id %>"
            >
              Delete Message
            </button>
          </div>
          <% }%>
        </div>
      </div>
      <% }) %> <% } else { %>

      <h1>There are no messages to display ...</h1>

      <% } %>
    </section>

    <script>
      const deleteMsgBtns = document.querySelectorAll(".deleteMsg");

      deleteMsgBtns.forEach((btn) => {
        btn.addEventListener("click", () => {
          const endpoint = `/members/delete-message/${btn.dataset.msgid}`;

          fetch(endpoint, {
            method: "DELETE",
          })
            .then((response) => response.json())
            .then((data) => {
              location.reload();
            })
            .catch((err) => console.log(err));
        });
      });
    </script>
  </body>
</html>
